<li class="<%=  self_or_other(message) %>">
  <div class="chatboxmessagecontent">
    <p><%= message.body %></p>
    <time datetime="<%= message.created_at %>" title="<%= message.created_at.strftime("%d %b  %Y at %I:%M%p") %>">
      <%= message_interlocutor(message).username unless message_interlocutor(message) == current_user %> <%= message.created_at.in_time_zone.strftime("%H:%M %p") %>
    </time>
  </div>
</li>