
<div class="col-md-6 blog-main box">
    <div class="bs-component">
    <div class="alert alert-dismissible boxbackgroundcolor" id="feed<%= feed.id%>">
      <button class="close" data-dismiss="alert" type="button">×</button>
      <% if feed.user.avatar.url %>
        <strong><%= link_to image_tag(feed.user.avatar.url, :class=> "img-circle", size: "40"), users_show_path(feed.user_id) , title: feed.user.username %> </strong>
      <% else %>
          <strong><%= link_to feed.user.username , users_show_path(feed.user_id) %> </strong>
      <% end %>
      <%= link_to feed.text, feed %>
      <time datetime="<%= feed.updated_at %>" title="<%= feed.updated_at.strftime("%d %b  %Y at %I:%M%p") %>">
        <h6><%= time_ago_in_words(feed.updated_at)+" ago."%> </h6>
      </time>
      <hr class="margin5">
      <%= render partial: "votes", locals: {feed: feed} %>
      <span class="pull-right" >
      <% if user_signed_in? %>
          <% if can? :update, feed %>
                <button type="button" class="btn btn-xs" data-toggle="modal" data-target="#myupdatefeed_<%=feed.id%>"><i class="fa fa-pencil-square-o">Edit</i></button>
          <% end %>
          <% if can? :destroy, feed %>
                <%= link_to feed, method: :delete, remote: true, data: {confirm: "Are you sure?"} do %>
                    <i class="fa fa-lg fa-trash-o"></i>
                <% end %>
          <% end %>
      <% end %>
      </span>
      <%= render partial: "comments/quickcomment", locals: {feed: feed} %>
    </div>
  </div>
</div>

<%= form_for(feed, :method => :put, remote: true) do |f| %>
    <div class="modal fade" id="myupdatefeed_<%= feed.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Edit</h4>
          </div>
          <div class="modal-body">

            <div class="field">
              <%= f.label :Feed %>
              <%= f.text_area :text, class: "form-control"%>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" id="mynewpostclose">Close</button>
            <%= submit_tag "Update", class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>