<h2>Edit Profile</h2>
<h6>Unhappy? Delete account ? <%= link_to "Delete Me", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></h6>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, :multipart => true }) do |f| %>
  <%= devise_error_messages! %>
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :first_name %><br />
      <%= f.text_field :first_name %>
    </div>

    <div class="form-group">
      <%= f.label :last_name %><br />
      <%= f.text_field :last_name %>
    </div>

    <div class="form-group">
      <%= f.label :username %><br />
      <%= f.text_field :username%>
    </div>
    
    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email%>
    </div>

    <div class="form-group">
      <%= f.label "Write About Yourself"%><br />
      <%= f.text_area :about_me, autofocus: true %>
    </div>

    <div class="form-group">
      <%= f.label :time_zone %><br />
      <%= f.time_zone_select :time_zone, nil, {} , required: true %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="form-group">
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="form-group">
      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "off" %>
    </div>

    <div class="actions">
      <%= f.submit "Update Account", class: "btn btn-primary btn-sm" %>
    </div>
  </div>
  
  <div class="col-md-6">
    <div class="form-group">
      <% if current_user.avatar.url.present? %> 
        <%= image_tag(current_user.avatar.url, :class=> "img-thumbnail", size: "100") %>
      <% end %>
      <%= f.file_field :avatar %>
    </div>
  </div>

<% end %>
