<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:multipart => true}) do |f| %>
  <%= devise_error_messages! %>
  <div class="col-md-6">
    <div class="field">
      <%= f.label :first_name %><br />
      <%= f.text_field :first_name, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :last_name %><br />
      <%= f.text_field :last_name %>
    </div>

    <div class="field">
      <%= f.label :username %><br />
      <%= f.text_field :username %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email %>
    </div>

    <div class="form-group">
      <%= f.label :time_zone %><br />
      <%= f.time_zone_select :time_zone, nil, {}, required: true%>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @validatable %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>
  </div>

  <div class="col-md-6">
    <div class="field">
      <i class="fa fa-picture-o fa-5x"></i>
      Avatar
      <p>
      <%= f.label :avatar do %>
        <%= f.file_field :avatar %>
      <% end %>
    </p>
    </div>
  
    <div class="actions">
      <%= f.submit "Sign up", class: "btn btn-primary btn-sm" %>
    </div>
  </div>
<% end %>
