<div style="display:none">
  <%= hidden_field_tag :socket_id %>
</div>
<div>
  <%= link_to :back do  %>
      <i class="fa fa-long-arrow-left fa-2x"></i>
  <% end %>
</div>
<div class="chatboxhead">
  <div class="chatboxtitle">
    <i class="fa fa-comments"></i>

    <%= @reciever.username %>
    <div class="avatar">
      <%= image_tag(@reciever.avatar.url, :class=> "img-circle", :size => "50") if @reciever.avatar.url %>
    </div>

  </div>
</div>
<div class="chatbox_<%= @conversation.id %>">
  <div class="chatboxcontent">
    <% if @messages.any? %>
        <%= render @messages %>
    <% end %>
  </div>
</div>
<div class="chatboxinput">
  <%= form_for([@conversation, @message], remote: true) do |f| %>
      <%= f.text_field :body, class: "chatboxtextarea", "data-cid" => @conversation.id, required: true %>
      <%= f.submit " Send", class: "btn btn-primary btn-xs"%>
  <% end %>
</div>
<audio id="chatAudio"><source src="/sounds/notification.mp3" type="audio/mpeg"></audio>

<script>
    var chatbox = $(".chatbox_<%= @conversation.id %>").children();
    chatbox.scrollTop(chatbox[0].scrollHeight);

    var pusher = new Pusher('<%= Pusher.key %>', {
        encrypted: true
    });

    pusher.connection.bind('connected', function () {
        var socket_id = pusher.connection.socket_id;
        $('#socket_id').val(socket_id);
    });

    var channel = pusher.subscribe("private-<%= @conversation.id.to_s %>");
    channel.bind('my_event', function(data) {
        var chatbox = $(".chatbox_<%= @conversation.id %>").children();
        var sender_id = data.sender_id
        var reciever_id = $('meta[name=user-id]').attr("content");
        var avatar = data.avatar


        if (sender_id != reciever_id) {
            chatbox.append(
                    '<li class="other">' +
                    '<div class="chatboxmessagecontent">' +
                    '<p>' + data.message + '</p>' +
                    '<time>' + data.username + " "+ data.dt +
                    '</time>' +
                    '</div>' +
                    '</li>'
            ).removeClass("self").addClass("other");
            chatbox.scrollTop(chatbox[0].scrollHeight);
            chatBox.notify();
        }
        else {
            $(".chatboxtextarea").val("");
            chatbox.append(
                    '<li class="self">' +
                    '<div class="chatboxmessagecontent">' +
                    '<p>' + data.message + '</p>' +
                     '<time>' + data.dt + '</time>' +
                    '</div>' +
                    '</li>'
            );
            chatbox.scrollTop(chatbox[0].scrollHeight);
        }

    });
</script>
