<!DOCTYPE html>
<html>
<head>
  <title><%=current_user && Notification.get_count(current_user.id) > 0 ? "#{Notification.get_count(current_user.id)} New Notification !"  : "Feed It ! " %></title>
  <%= stylesheet_link_tag    'application', :media => 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://js.pusher.com/3.0/pusher.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <meta content='<%= user_signed_in? ? current_user.id : "" %>' name='user-id'/>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="/"><i class="fa fa-bolt fa-lg">
            Feed It</i> </a>
	    </div>
	    <div class="collapse navbar-collapse" id="myNavbar">
	      <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
                <li><%# image_tag(current_user.avatar.url, :class=> "img-circle", :size => "50") %></li>
                <li><%= link_to current_user.first_name+" "+current_user.last_name, edit_user_registration_path, :title => "Edit Profile" %></li>
                <% if current_user.admin == true %>
                    <li><%= link_to "Manage Blog", rails_admin.dashboard_path %></li>
                <% end %>
                <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete%></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="badge"><%= Notification.get_count(current_user.id)%></span> New Notifications <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <% if current_user.notifications %>
                        <% current_user.notifications.reverse[0...5].each do |n| %>
                            <li><%= link_to "#{n.sender.username} sent you a new message" , n.conversation %></li>
                        <% end %>
                    <% end %>
                    <li role="separator" class="divider"></li>
                    <li><%= link_to "Show All", notifications_index_path %></li>
                  </ul>
                </li>
          <% else %>
                <li><%= link_to "Sign up", new_user_registration_path%></li>
                <li><%= link_to "Sign In", new_user_session_path%></li>

            <% end %>
            <li><%= link_to "Donate !", donate_index_path %></li>
          </ul>
	    </div>
	  </div>
	</nav>
	



	<div class="container">
      <br>
      <br>
      <br>
      <br>
		<% if notice %>
          <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <%= notice %>
          </div>
		<% end %>
		<% if alert %>
          <div class="alert alert-warning alert-dismissible alert-bottom" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <%= alert %>
          </div>
		<% end %>
	
		<%= yield %>
		
	</div>
	<div class="container">	
		<%= render 'layouts/footer' %>
		<%= debug(params) if Rails.env.development? %>
	</div>

</body>
</html>
